* {
  box-sizing: border-box;
}
body {
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

p,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
}
